[submodule "lib/rust-opengles"]
	path = lib/rust-opengles
	url = git://github.com/jeaye/rust-opengles.git
  ignore = dirty
[submodule "lib/glfw"]
	path = lib/glfw
	url = git://github.com/glfw/glfw.git
  ignore = dirty
[submodule "lib/glfw-rs"]
	path = lib/glfw-rs
	url = git://github.com/jeaye/glfw-rs.git
  ignore = dirty
[submodule "lib/stb-image"]
	path = lib/stb-image
	url = git://github.com/jeaye/rust-stb-image.git
  ignore = dirty
[submodule "lib/ncurses-rs"]
	path = lib/ncurses-rs
	url = git://github.com/jeaye/ncurses-rs.git
  ignore = dirty
